<%= form_tag wiki_collaborators_path do %>
    <div class="field">
        <%= label_tag :user_email %>
        <%= autocomplete_field_tag :user_email, '', autocomplete_user_email_wiki_collaborators_path %>
    </div>
    <br>
    <% if (current_user == @wiki.user) || (current_user.admin?) %>
        <div class="field">
            <%= radio_button_tag(:state, "viewer") %>
            <%= label_tag(:state, "View Only") %>
            <%= radio_button_tag(:state, "editor") %>
            <%= label_tag(:state, "View and Edit") %>
        </div>
        <%= submit_tag %>
    <% else %>
        <%= hidden_field_tag "state", "suggested" %>
        <%= submit_tag %>
    <% end %>
<% end %>
        
        

