<div class="container">
    <h3> <%= @wiki.title %> Collaborators </h3>
    <% if @collaborators.empty? == false %>
    <div class="col-md-6">
            <%= form_tag destroy_multiple_wiki_collaborators_path, method: :delete do %>
            <table class="table table-bordered">
                <tr>
                    <th>Name</td>
                    <th>Email</td>
                    <% if @wiki.user == current_user || current_user.admin? %>
                        <th>Delete</td>
                    <% end %>
                </tr>
                <tbody>
                <% @collaborators.each do |collaborator| %>
                    <tr>
                        <td><%= collaborator.user.name %></td>
                        <td><%= collaborator.user.email %></td>
                        <% if @wiki.user == current_user || current_user.admin? %>
                        <td>
                           <%= check_box_tag "collaborator_ids[]", collaborator.id %>
                        </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
            </table>
            <%= submit_tag "Delete Selected" %>
            <% end %>
        <% end %>
        <h2> Add a Collaborator </h2>
    <%= render "collaborators/form", locals: { wiki: @wiki, collaborator: @collaborator } %>
</div>
