<div class="container">
    <h3> <%= @wiki.title %> Collaborators </h3>
    <% if @collaborators.empty? == false %>
    <div class="col-md-6">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Permission</th>
                    <% if (@wiki.user == current_user) || (current_user.admin?) %>
                        <th>Approve</th>
                        <th>Delete</th>
                    <% end %>
                </tr>
                <tbody>
                <% @collaborators.each do |collaborator| %>
                    <tr>
                        <td><%= collaborator.user.name %></td>
                        <td><%= collaborator.user.email %></td>
                        
                        <td><%= collaborator.state != nil ? collaborator.state.capitalize : ""%></td>
                        <% if @wiki.user == current_user || current_user.admin? %>
                            <% if collaborator.state == "suggested" %>
                                <td>   
                                    <%= form_for [collaborator.wiki, collaborator] do |f| %>
                                        <%= f.radio_button :state, 'view' %>
                                        <%= label :state, 'View' %>
                                        <%= f.radio_button :state, 'edit' %>
                                        <%= label :state, 'Edit' %>
                                        <%= f.submit %>
                                    <% end %>
                                </td>
                            <% else %>
                                <td></td>
                            <% end %>
                        <td>
                            <%= link_to "Delete", [collaborator.wiki, collaborator], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this collaborator?' } %>
                        </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
            </table>
        <% end %>
    
    <% if @wiki.user == current_user %>
        <h2> Add a Collaborator </h2>
    <% else %>
        <h2> Suggest a Collaborator </h2>
    <% end %>
    <%= render "collaborators/form", locals: { wiki: @wiki, collaborator: @collaborator } %>
     </div>
</div>
